body {
  display: flex;
  justify-content: center;
}
/* SLIDER */
.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  width: 400%; /* 4 gambar x 100% */
  transition: transform 0.5s ease;
}

.slide {
  flex: 25%;
}

.slider-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.slider-controls img {
  width: 20px;
  border: none;
  cursor: pointer;
}
.slider-controls button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.slide img {
  width: 100%;
  height: auto;
}
/* STYLE */
.desc,
.descript {
  max-width: 500px;
  margin: 0 20px;
  margin-top: 50px;
}

.desc {
  margin-bottom: 50px;
}

.desc h2,
.desc h3 {
  display: none;
}

.desc a {
  display: block;
  width: 100%;
  font-weight: 500;
  background-color: aqua;
  text-align: center;
  padding: 10px;
  margin: 10px 0;
}

.desc .whatsapp {
  background-color: #008c71;
}
.desc .shopee {
  background-color: #e34b29;
}
.desc .tokopedia {
  background-color: #1baa42;
}
.desc .website {
  background-color: gray;
}

.descript {
  margin-bottom: 100px;
}

.descript ul {
  list-style-position: inside;
}
@media (max-width: 1200px) {
  .desc {
    min-width: 200px;
  }
  .descript {
    min-width: 300px;
  }
}

@media (max-width: 600px) {
  body {
    flex-wrap: wrap;
  }

  .slider-controls img {
    width: 15px;
  }

  .desc,
  .descript {
    min-width: 200px;
    margin-top: 0;
  }

  .desc h2,
  .desc h3 {
    display: block;
  }

  .descript h1,
  .descript h3 {
    display: none;
  }
}
